Package: com.kef.darkkeyboard
Name: DarkKeyboard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kef
Author: Kef
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 72
